<div id="author-header-<%- kind %>" class="author-header removed">
  <div class="author-header-left">
    <img id="author-panel-pic-<%- kind %>" class="author-panel-pic">
    <a class="author-page-title not-special inset-focus" id="author-page-title-<%- kind %>"></a>
    <button id="follow-button-<%- kind %>" class="author-button inset-focus">follow</button>
    <button id="mute-button-<%- kind %>" class="author-button inset-focus">mute</button>
    <button id="message-button-<%- kind %>" class="author-button inset-focus">message</button>
    <button id="edit-bio-button-<%- kind %>" class="author-button inset-focus" onclick="editBio();">edit bio</button>
    <button id="delete-bio-button-<%- kind %>" class="author-button inset-focus" onclick="deleteBio();">delete bio</button>
  </div>

  <div class="author-header-right reader-font" id="author-header-right-<%- kind %>">
  </div>
</div>
