<br>
<div id="editor-options">
  <button title="bold" onclick="styleText('b', '<%- kind %>')"><b>B</b></button>
  <button title="italic" onclick="styleText('i', '<%- kind %>')"><i>I</i></button>
  <button title="underline" onclick="styleText('u', '<%- kind %>')"><u>U</u></button>
  <button title="strikethrough" onclick="styleText('s', '<%- kind %>')"><s>S</s></button>
  <button title="list item" onclick="styleText('li', '<%- kind %>')">li</button>
  <button title="unordered list" onclick="styleText('ul', '<%- kind %>', true)">ul</button>
  <button title="ordered list" onclick="styleText('ol', '<%- kind %>', true)">ol</button>
  <button title="left align" onclick="styleText('l', '<%- kind %>', true)">L</button>
  <button title="center align" onclick="styleText('c', '<%- kind %>', true)">C</button>
  <button title="right align" onclick="styleText('r', '<%- kind %>', true)">R</button>
  <button title="link" onclick="hyperlink('<%- kind %>')">link</button>
  <button title="image" onclick="insertImage('<%- kind %>')">img</button>
  <button title="cut" onclick="insertCut('<%- kind %>')">cut</button>
  <button title="quote" onclick="insertQuote('<%- kind %>')">quote</button>
</div>
