<br>
<div id="editor-options-<%- kind %>" class="editor-options">
  <button class="editor-button" title="bold" onclick="edButtHand.bold('<%- kind %>')"><b>B</b></button><!--
--><button class="editor-button" title="italic" onclick="edButtHand.ital('<%- kind %>')"><i class="editor-italic">I</i></button><!--
--><button class="editor-button" title="underline" onclick="edButtHand.under('<%- kind %>')"><u>U</u></button><!--
--><button class="editor-button" title="strikethrough" onclick="edButtHand.strike('<%- kind %>')"><s>S</s></button><!--
--><wrapper id="<%- kind + '-html-list-buttons'%>" class="removed"><!--
  --><button class="editor-button" title="list item" onclick="edButtHand.li('<%- kind %>')">li</button><!--
  --><button class="editor-button" title="unordered list" onclick="edButtHand.ul('<%- kind %>')">ul</button><!--
  --><button class="editor-button" title="ordered list" onclick="edButtHand.ol('<%- kind %>')">ol</button><!--
--></wrapper><!--
--><wrapper id="<%- kind + '-md-list-buttons'%>" class=""><!--
  --><button class="editor-button" title="unordered list item" onclick="insertMDlist('<%- kind %>', 'ul')"><icon class="fas fa-list-ul"></icon></button><!--
  --><button class="editor-button" title="ordered list item" onclick="insertMDlist('<%- kind %>', 'ol')"><icon class="fas fa-list-ol"></icon></button><!--
--></wrapper><!--
--><button class="editor-button" onclick="hyperlink('<%- kind %>')">link</button><!--
--><button class="editor-button" onclick="insertImage('<%- kind %>')">img</button><!--
--><button class="editor-button" onclick="insertNote('<%- kind %>')">note</button><!--
--><button class="editor-button" onclick="insertQuote('<%- kind %>')">quote</button><!--
--><button class="editor-button" title="a big line!" onclick="insertHR('<%- kind %>')">hr</button><!--
--><button class="editor-button" title="undo" onclick="undo('<%- kind %>')" id='<%- kind + "-undo-button"%>'>↩</button><!--
--><button class="editor-button" title="redo" onclick="redo('<%- kind %>')" id='<%- kind + "-redo-button"%>'>↪</button><!--

--><wrapper id="<%- kind + '-more-buttons'%>" class="removed"><!--
  --><button class="editor-button" title="left align" onclick="styleText('l', '<%- kind %>', true)"><icon class="fas fa-align-left"></icon></button><!--
  --><button class="editor-button" title="center align" onclick="styleText('c', '<%- kind %>', true)"><icon class="fas fa-align-center"></icon></button><!--
  --><button class="editor-button" title="right align" onclick="styleText('r', '<%- kind %>', true)"><icon class="fas fa-align-right"></icon></button><!--
  --><button class="editor-button" onclick="styleText('cut', '<%- kind %>')">cut</button><!--
  --><button class="editor-button" onclick="styleText('code', '<%- kind %>')">code</button><!--
  --><button class="editor-button" onclick="styleText('ascii', '<%- kind %>', true)">ascii</button><!--
  --><button class="editor-button" onclick="styleText('spoil', '<%- kind %>', false)">spoil</button><!--
  --><button class="editor-button" title="toggle editor mode" onclick="toggleEditorMarkdown('<%- kind %>')" id='<%- kind + "-editor-mode-button" %>'>HTML</button><!--
--></wrapper><!--
--><button class="editor-button" title="more buttons" onclick="toggleMoreEditorButtons('<%- kind %>',this)"><icon class="fas fa-plus editor-more-less"></icon></button>
</div>
