<br>
<div id="editor-options">
  <button class="" onclick="styleText('b', '<%- kind %>')"><b>B</b></button>
  <button class="" onclick="styleText('i', '<%- kind %>')"><i>I</i></button>
  <button class="" onclick="styleText('u', '<%- kind %>')"><u>U</u></button>
  <button class="" onclick="styleText('s', '<%- kind %>')"><s>S</s></button>
  <button class="" onclick="styleText('li', '<%- kind %>')">li</button>
  <button class="" onclick="styleText('ul', '<%- kind %>')">ul</button>
  <button class="" onclick="styleText('ol', '<%- kind %>')">ol</button>
  <button class="" onclick="styleText('l', '<%- kind %>')">L</button>
  <button class="" onclick="styleText('c', '<%- kind %>')">C</button>
  <button class="" onclick="styleText('r', '<%- kind %>')">R</button>
  <button class="" onclick="hyperlink('<%- kind %>')">link</button>
  <button class="" onclick="image('<%- kind %>')">img</button>
  <button class="" onclick="insertCut('<%- kind %>')">cut</button>
</div>
