<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s c h l a u g h</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Pro|Gurajada|Lora|Montserrat|Open+Sans|Rajdhani|Roboto|Roboto+Slab|Source+Code+Pro|Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/game.css">
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.css" integrity="sha384-yW1frltt4cd2K6QCmOMx4M+ylOmyrGb+NDouZ1f5VL2f4NN7uBu5PQsmUSgWib1W" crossorigin="anonymous">
    <script async src="https://cdn.jsdelivr.net/npm/katex@0.16.3/dist/katex.min.js" integrity="sha384-97gW6UIJxnlKemYavrqDHSX3SiygeOwIZhwyOKRfSaf0JWKRVj9hLASHgFTzT+0O" crossorigin="anonymous"></script>

    <script src="/openpgp.min.js"></script>
    <script src="/jscolor.js"></script>
    <script src="/pool.js"></script>
    <script src="/game.js"></script>
    <script src="/schlaunquer.js"></script>
    <script src="/main.js"></script>
	  <link rel="icon" type="image/png" href="/favicon.png" id='dynamic-favicon'>

    <%
      if(initProps && initProps.authorName) {
    %>
        <link id="rssLink" rel="alternate" type="application/rss+xml" title=<%= initProps.authorName %> href=<%= '/'+initProps.authorName+'/~rss' %>>
    <%
      } else {
    %>
        <link id="rssLink" rel="alternate" type="application/rss+xml" title="schlaugh" href="/~rss">
    <%
      }
    %>

  </head>
  <body>
    <header>
      <h1><a href="/" onclick="backToMain(event);">schlaugh</a></h1>

      <userInfo>
        <user-info-item><a href="javascript:void(0);" id="username" class="clicky removed special"></a></user-info-item>
        <user-info-item><a href="javascript:void(0);" id="sign-in" class="clicky" onclick="passPromptSubmit()">schlaugh in</a></user-info-item>
        <user-info-item><a href="javascript:void(0);" id="sign-out" class="clicky removed" onclick="signOut()">schlaugh out</a></user-info-item>
      </userInfo>
    </header>

    <main id="main">
      <%- include("main") %>
    </main>

    <footer>
      <%
        var date = new Date(new Date().getTime() - 9*3600*1000);  //UTC offset by -9
        var hoursRemaining = "< " + (24 - date.getUTCHours()) + " hours to schlaupdate";
      %>
      <text id="schlaupdate-timer"><%= hoursRemaining %></text> <a href="javascript:void(0);" onclick="schlaupdateExplain()" class="special clicky">(?)</a>
      <br>
      <div id="footer-footer">
        <a href="/~" class="clicky special footer-text" onclick="modKeyCheck(event, function () {switchPanel('meta-panel'); simulatePageLoad('~', false);});">about</a>
        •
        <a href="/~click" class="clicky special footer-text" onclick="modKeyCheck(event, function () {openClickerGame();});">click</a>
        •
        <a href="/~schlaunquer" class="clicky special footer-text" onclick="modKeyCheck(event, function () {openSchlaunquerPanel();});">schlaunquer</a>
      </div>
    </footer>

    <div id="display-button-box">
      <button id="text-options-open" class="display-button" onclick="$('text-options-pop-up').classList.remove('hidden'); $('font-family-select').focus();"><!--
        --><icon class="clicky fas fa-font"></icon><!--
      --></button>
      <button id="color-options-open" class="display-button" onclick="$('color-options-pop-up').classList.remove('hidden'); $('preset-select').focus();">
        <icon class="clicky fas fa-palette"></icon>
      </button>
    </div>

    <script type="text/javascript">

    (function router(input) {
      if (input.user && input.settings && input.settings.colors) {
        changeAllColors(input.settings.colors, true)
      } else {
        setAppearance();
      }
      if (input.postCode !== undefined) {
        var params = {
          author:input.author,
          tag:input.tag,
          date:input.date,
          page:input.page,
          postCode:input.postCode,
          post_id:input.post_id,         // take in post_id to distingiush between TFTF via a date or an ID
          post_url:input.post_url,       // again, to distingiush TFTF via custom URL
          existed:input.existed,
          notFound:input.notFound,
        }
        if (!input.date || input.postCode === "TFTF" || input.date <= pool.getCurDate()) {
          initSchlaugh(input.user, function () {fetchPosts(true, params);});
        } else {
          if (input.user) {
            initSchlaugh(input.user, function () {switchPanel("posts-panel")});
          } else {
            simulatePageLoad();
            switchPanel("meta-panel");
          }
        }
      } else if (input.panel) {
        if (!input.user && (input.panel !== "about" && input.panel !== "clicker" && input.panel !== "schlaunquer")) {
          simulatePageLoad();
          switchPanel("meta-panel");
        } else if (input.panel === "meta") {
          initSchlaugh(input.user, function () {switchPanel("meta-panel")});
        } else if (input.panel === "clicker") {
          initSchlaugh(input.user, function () {openClickerGame();});
        } else if (input.panel === "schlaunquer") {
          initSchlaugh(input.user, function () {openSchlaunquerPanel(input.game_id, input.day);});
        } else {
          initSchlaugh(input.user, function () {switchPanel(input.panel+"-panel")});
        }
      } else if (input.recovery) {
        if (input.code) {
          switchPanel("recovery-panel"); glo.resetCode = input.code;
        } else {
          switchPanel("bad-recovery-panel");
        }
      } else {  // NONE, just ye good ole schlaugh.com
        if (input.user) {
          initSchlaugh(input.user, function () {switchPanel("posts-panel")});
        } else {
          simulatePageLoad();
          switchPanel("meta-panel");
        }
      }
    })(<%- JSON.stringify(initProps) %>)

  </script>

  </body>
</html>
