<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s c h l a u g h</title>
    <link rel="stylesheet" href="/main.css">
    <script src="/layout.js"></script>
	  <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>

    <header>
      <a href="/"><h1>schlaugh</h1></a>

      <% if (typeof username !== "undefined") { %>
        <nav class="user-info">
          <a id="user-name" class="clicky" onclick="accountSettings(true)">
            <%= username %>
          </a>
        </nav>
      <% } %>
    </header>

    <% if (typeof username !== "undefined") { %>
      <div id="account-settings" class="removed">
        <h2>account settings</h2>
        <% if ( userPic !== "") { %>
          <img id="user-pic" src= <%= userPic %> >
        <% } else { %>
          <img id="user-pic" class="removed" src="">
        <% } %>
        <br>
        <label for="pic-url">picURL</label><br>
        <% if ( userPic !== "") { %>
          <input id="pic-url" type="text" name="pic-url" value=<%= userPic %>><br>
        <% } else { %>
          <input id="pic-url" type="text" name="pic-url" value=""><br>
        <% } %>
        <button onclick="submitPic()">submit</button>
        <% if ( userPic !== "") { %>
          <button onclick="submitPic(true)">remove</button>
        <% } else { %>
          <button id="remove-pic" class="removed" onclick="submitPic(true)">remove</button>
        <% } %>
        <br><br><br>
        <input name="x" type="radio"> magic<br>
        <input name="x" type="radio"> more magic<br>
        <br><br>
        <a class="clicky" onclick="signOut()">schlaugh out</a>
        <br><br><br>
        <button onclick="accountSettings(false)" >x</button>
        <br><br><br>
      </div>
    <% } %>

    <main>
      <%- include(pagename) %>
    </main>

    <footer>
      <%
        var date = new Date(new Date().getTime() - 9*3600*1000);  //UTC offset by -9
        var hoursRemaining = "< " + (24 - date.getUTCHours()) + " hours to schlaupdate";
      %>
      <text><%= hoursRemaining %></text>
    </footer>

  </body>
</html>
