<wrapper id="panel-buttons-wrapper" class="removed no-select">
  <panelButtons id="panel-buttons">
    <a href="/~write" id="write-panel-button" title="write" class="inset-focus clicky panel-button" onclick="panelButtonClick(event,'write')"><!--
    --><icon class="fas fa-pencil-alt"></icon></a><!--
    --><a href="/" id="posts-panel-button" title="read" class="inset-focus clicky panel-button" onclick="panelButtonClick(event,'posts')"><!--
    --><icon class="fas fa-book"></icon></a><!--
    --><a href="/~inbox" id="inbox-panel-button" title="inbox" class="inset-focus clicky panel-button" onclick="panelButtonClick(event,'inbox')"><!--
    --><icon class="fas fa-envelope"></icon></a><!--
    --><a href="/~settings" id="settings-panel-button" title="settings" class="inset-focus clicky panel-button" onclick="panelButtonClick(event,'settings')"><!--
    --><icon class="fas fa-cog"></icon></a>
  </panelButtons>
  <br>
  <feedOptions id="feed-options" class="post-background">
    <a id="following-list-open" class="feed-button clicky inset-focus" href="javascript:void(0);" onclick="followingListDisplay(true)">following</a><!--
    --><a id="date-jump-open" class="feed-button clicky inset-focus" href="javascript:void(0);" onclick="openDateJump()">date</a><!--
    --><a id="tag-menu-open" class="feed-button clicky inset-focus" href="javascript:void(0);" onclick="openTagMenu()">tags</a><!--
    --><a id="bookmarks-open" class="feed-button clicky inset-focus" href="javascript:void(0);" onclick="displayBookmarks()">bookmarks</a>
  </feedOptions>
</wrapper>

<div id="write-panel" class="removed">

  <div id="post-preview">
    <div id="pending-status">no pending post for tomorrow</div>
    <div id="pending-post" class="removed"></div>
    <button type="button" id='write-post-button' onclick="showPostWriter()">new post</button>
    <button id='delete-pending-post' class="removed" onclick="submitPost(true)">delete</button><br><br>
    <text id="pending-post-link"></text>
  </div>

  <div id="post-writer" class="removed">
    <%- include("editorButtons", {kind: "post"}) %>
    <textarea id="post-editor" class="editor reader-font" autocomplete="off" autocapitalize="off" oninput="resizeEditor('post')" onkeydown="editorKeyHandler(event, 'post')"></textarea>
    <br><br>
    <wrapper id="post-editor-meta" class="editor-meta">
      <label for="tag-input">tags:</label>
      <input id="tag-input" class="editor-input" type="text" placeholder="milkshake,">
      <br>
      <label for="title-input">title:</label>
      <input id="title-input" class="editor-input" type="text" placeholder="optional">
      <br>
      <label for="url-input">url<a href="javascript:void(0);" onclick="customUrlExplain()" class="special clicky">(?)</a>:</label>
      <input id="url-input" class="editor-input" type="text" placeholder="optional">
    </wrapper>
    <br><br>
    <button onclick="submitPost()">save post</button>
    <button onclick="cancelPost()">cancel</button>
  </div>
</div>

<div id="posts-panel" class="removed">
  <div id="schlaunquer-reminder" class="removed post-background">
    <u>REMINDER</u><br>
    <text id="schlaunquer-reminder-single" class="removed">your are currently engaged in a match of <a href="/~schlaunquer" class="clicky special" onclick="modKeyCheck(event, function () {openSchlaunquerPanel();});"><b>schlaunquer</b></a><br>be sure to input your moves before the schlaupdate!</text>
    <text id="schlaunquer-reminder-multiple" class="removed">your are currently engaged in matches of <a href="/~schlaunquer" class="clicky special" onclick="modKeyCheck(event, function () {openSchlaunquerPanel();});"><b>schlaunquer</b></a><br>be sure to input your moves before the schlaupdate!</text>
    <br><button id="schlaunquer-reminder-dismiss" onclick="setSchlaunquerReminder()">dismiss</button>
  </div>

  <%- include("authorHeader", {kind: "top"}) %>

  <div id="date-and-tag-options" class="removed">
    <div id="tag-menu" class="removed">
      <form id="tag-search" action="javascript:void(0);">
        <h2 id="tags-search-title">tag search:</h2>
        <input id="tag-picker" oninput="tagPickerCheck(this)" type="text" placeholder="milkshake">
        <div id='tag-actions'>
          <button id="search-tag-form" class="faded" type="submit">search</button>
          <button id="save-tag-form" class="faded" class="removed">save tag</button>
        </div>
      </form>

      <div id="saved-tags-list" class="removed">
        <h2 id="saved-tags-title">saved tags:</h2>
        <text id="none-tags">(none)</text>
        <div id="tag-bucket"></div>
        <a href="javascript:void(0)" onclick="toggleTaggedPostsInclusion()">
          <text class="monospace">include tagged posts in feed</text>
          <text id="include-tagged-posts-toggle"></text>
        </a>
        <a href="javascript:void(0);" onclick="uiAlert(`checking this box means that posts with tags you are tracking will show up in your main feed alongside posts of people you are following`, `aight`)" class="special clicky"> (?)</a>
        <br>
        <a href="javascript:void(0)" onclick="toggleAutoSaveTagsOnUse()">
          <text class="monospace">auto save tags you use on your own posts</text>
          <text id="auto-save-tags-on-use-toggle"></text>
        </a>
      </div>
      <button onclick="openTagMenu(true); $('tag-menu-open').focus();">x</button>
    </div>

    <form id="date-jump" class="removed" action="javascript:void(0);">
      <h2 id="date-jump-title">jump to:</h2>
      <input id="date-picker" type="text" placeholder="date">
      <script type="text/javascript">
        $('date-picker').value = pool.getCurDate();
      </script>
      <br>
      <button type="submit" onclick="dateJump()">go</button>
      <button onclick="openDateJump(true); $('date-jump-open').focus();">x</button>
    </form>
  </div>

  <%- include("pageAndDateNav", {kind: "top"}) %>

  <div id="tag-feed-options">
    <button id="all-days" onclick="allDaysButton()" class="removed tag-feed-option-button">all days</button><!--
    --><button id="clear-tag" onclick="clearTagButton()" class="removed tag-feed-option-button">clear tag</button><!--
    --><button id="save-tag" onclick="saveTag(false)" class="removed tag-feed-option-button">save tag</button>
  </div>

  <button id="expand-all-notes-button" class='removed' onclick="expandAllNotes(true)">expand all notes and cuts</button>
  <button id="collapse-all-notes-button" class='removed' onclick="expandAllNotes(false)">collapse all notes and cuts</button>

  <div id="post-bucket"></div>

  <%- include("authorHeader", {kind: "bot"}) %>

  <%- include("pageAndDateNav", {kind: "bot"}) %>

</div>

<div id="404-panel-author" class="removed">
  <text class="page-title-404 monospace">
    <br>but there was nobody home<br><br>
  </text>
</div>
<div id="404-panel-post" class="removed">
  <text class="page-title-404 monospace">
    <br>not even a single thing!<br><br>
  </text>
</div>
<div id="404-panel-existed" class="removed">
  <text class="page-title-404 monospace">
    once here<br>there was something<br><br>now here<br>there is nothing<br><br><i>time</i><br><br>
  </text>
</div>

<div id="inbox-panel" class="removed">
  <h2>meschages</h2>
  <div id="thread-title-area" class="removed">
    <button id="back-arrow" class="removed filter-focus" onclick="closeThread()">
      <icon class="fas fa-caret-left"></icon>
    </button>

      <a id="thread-user-wrapper">
        <img id="thread-pic" src="" alt="">
        <text id="thread-title"></text>
      </a>

    <text id='thread-status' class='removed'></text>
  </div>
  <button id="mark-unread" class="removed" onclick="markUnread()">mark unread</button>
  <button id="block-button" class="removed" onclick="block()">block</button>
  <div id="thread-list" class="content-box"></div>
  <br>
  <div id="message-preview" class="removed">
    <br>
    <p id="pending-message-status"></p>
    <div id="pending-message" class="message removed reader-font"></div>
    <button type="button" id='write-message-button' onclick="showWriter('message')"></button>
    <button id='delete-message' onclick="submitMessage(true)">delete</button>
  </div>
  <div id="message-writer" class="removed">
    <%- include("editorButtons", {kind: "message"}) %>
    <textarea id="message-editor" autocomplete="off" class="editor reader-font" autocapitalize="off" oninput="resizeEditor('message')" onkeydown="editorKeyHandler(event, 'message')"></textarea>
    <br>
    <button onclick="submitMessage()">save message</button>
    <button onclick="cancelMessage()">cancel</button>
  </div>
  <br>
  <div id="thread-box"></div>
</div>

<div id="settings-panel" class="removed">
  <h2>schlettings</h2>
  <div id="settings-container" class="content-box">
    <br><br>
    <div id="user-image-center">
      <wrapper id="current-user-image-box">
        <text id="current-user-image-label">user image:</text>
        <img id="current-user-image" class="removed user-pic" src="">
        <div id="no-user-image"><br>(none)<br></div>
        <form action="javascript:void(0);" class="user-image-form">
          <label for="current-image-url">image url<a href="javascript:void(0);" onclick="imageUploadingExplain()" class="special clicky">(?)</a></label><br>
          <input class="user-image-input" id="current-image-url" type="text" name="current-image-url" value=""><br>
          <button id="submit-current-image" type="submit" onclick="submitPic()">update image</button>
          <button id="remove-current-image" class="removed" onclick="removeCurrentUserPic()">remove</button>
        </form>
      </wrapper>
      <wrapper id="pending-user-image-box" class="removed">
        <text id="pending-user-image-label">pending image:</text>
        <img id="pending-user-image" class="removed user-pic" src="">
        <form action="javascript:void(0);" class="user-image-form">
          <label for="pending-image-url">image url<a href="javascript:void(0);" onclick="imageUploadingExplain()" class="special clicky">(?)</a></label><br>
          <input class="user-image-input" id="pending-image-url" type="text" name="pending-image-url" value=""><br>
          <button id="submit-pending-image" type="submit" onclick="submitPic(false, true)">update image</button>
          <button id="remove-pending-image" onclick="submitPic(true, true)">remove</button>
        </form>
      </wrapper>
    </div>
    <br><br><hr><br>
    <wrapper class="setting-wrapper">
      <text>posts per page<a href="javascript:void(0);" onclick="postsPerPageExplain()" class="special clicky">(?)</a>: </text>
      <select id="posts-per-page" onchange="setPostsPerPage()">
        <option>2</option>
        <option>3</option>
        <option>5</option>
        <option>7</option>
        <option>11</option>
        <option>13</option>
        <option>17</option>
        <option>19</option>
        <option>23</option>
      </select>
    </wrapper>
    <wrapper class="setting-wrapper">
      <text>posts on author and tag pages are ordered by </text>
      <select id="post-stream-toggle" onchange="setPostStreamDirection()">
        <option>newest</option>
        <option>oldest</option>
      </select>
      <text> at the top</text>
    </wrapper>
    <wrapper class="setting-wrapper">
      <text>yesterday is to your </text>
      <select id="pagination-direction-toggle1" onchange="setPaginationDirection()">
        <option>left</option>
        <option>right</option>
      </select>
      <text> and tomorrow is to your </text>
      <select id="pagination-direction-toggle2" onchange="setPaginationDirection()">
        <option>right</option>
        <option>left</option>
      </select>
    </wrapper>

    <br>
    <!--
    <text>italicize all text within a quote:</text>
    <select id="italicize-quotes-setting" onchange="toggleItalianQuotes()">
      <option>true</option>
      <option>false</option>
    </select>

    <br><br>
    -->

    <text>show a schlaunquer reminder on my post feed when i have active matches: </text>
    <select id="schlaunquer-game-reminder-setting" onchange="setSchlaunquerReminder(true)">
      <option>true</option>
      <option>false</option>
    </select>

    <br><br>

    <text>do NOT auto resize the post editor:</text>
    <select id="resize-editor-setting" onchange="toggleAutoEditorResize()">
      <option>true</option>
      <option>false</option>
    </select>

    <br><br><br><hr><br>

    <text>change username</text><br>
    <form action="javascript:void(0);">
      <input id="change-username-input" type="text" placeholder="new name"><br>
      <button type="submit" onclick="changeUsername()">change</button>
    </form>
    <br><br><hr><br>
    <text>verify email<a href="javascript:void(0);" onclick="verifyEmailExplain()" class="special clicky">(?)</a></text><br>
    <form action="javascript:void(0);">
      <input id="email-verify-input" type="text" placeholder="email address"><br>
      <button type="submit" onclick="verifyEmail()">check</button>
    </form>
    <br><br><hr><br>
    <text>change password</text>
    <form action="javascript:void(0);">
      <input type="text" autocomplete="username" name="username" style="display:none;">
      <input id="password-change0" type="password" autocomplete="current-password" name="current-password" placeholder="current password"><br>
      <input id="password-change1" type="password" autocomplete="new-password" name="new-password" placeholder="new password"><br>
      <input id="password-change2" type="password" autocomplete="new-password" name="new-password" placeholder="new password"><br>
      <icon id="eye5" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye5', ['password-change0','password-change1','password-change2'])"></icon>
      <icon id="eye5c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye5', ['password-change0','password-change1','password-change2'])"></icon>
      <br>
      <button type="submit" class="change-pass-button-bump" onclick="changePassword()">change</button>
    </form>
    <br><br><br>
    <a href="javascript:void(0);" class="clicky" onclick="signOut()">schlaugh out</a>
    <br><br><br>
  </div>
</div>

<div id="meta-panel" class="removed">
  <div id="login-section">
    <slogan>have you schlaughed today?</slogan>
    <div id="inOrUp">
      <button onclick="chooseInOrUp(false)">schlaugh in</button>
      <h4>or</h4>
      <button onclick="chooseInOrUp(true)">schlaugh up</button>
      <br><br><br>
      <button class="text-button special meta-panel-button" onclick="scrollToAboutSection();">schlaugh what?</button>
      </div>

      <div id="up" class="removed">
        <h2>account creation</h2>
        <br>
        <form action="javascript:void(0);" onSubmit="signUp();">
          <input class="login-input" id="name-input" type="text" name="username" autocomplete="username" placeholder="name">
          <br>
          <input class="login-input" id="email-input" type="text" name="email" autocomplete="email" placeholder="(optional) email address">
          <br>
          <input class="login-input" id="pass-input" type="password" name="password" autocomplete="new-password" placeholder="password">
          <br>
          <input class="login-input" id="pass-input-two" type="password" name="password" autocomplete="new-password" placeholder="password">
          <br>
          <icon><i onclick="optionalEmailExplain()" class="far fa-question-circle optional-email-splain clicky"></i></icon>
          <icon id="eye2" class="far fa-eye clicky eye-on-main" onclick="showPassword(true, 'eye2', ['pass-input', 'pass-input-two'])"></icon>
          <icon id="eye2c" class="far fa-eye-slash clicky removed eye-on-main" onclick="showPassword(false, 'eye2', ['pass-input', 'pass-input-two'])"></icon>
          <br>
          <button type="submit" class="change-pass-button-bump">schlaugh up</button>
        </form>
        <br>
        <button class="text-button special meta-panel-button" onclick="backToLogInMenu();">back</button>
      </div>

      <div id="in" class="removed">
        <h2>user login</h2>
        <br>
        <form action="javascript:void(0);" onSubmit="login();">
          <input class="login-input" id="in-name-input" type="text" name="username" autocomplete="username" placeholder="username">
          <br>
          <input class="login-input" id="in-pass-input" type="password" name="password" autocomplete=“current-password” placeholder="password">
          <br>
          <icon id="eye1" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye1', ['in-pass-input'])"></icon>
          <icon id="eye1c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye1', ['in-pass-input'])"></icon>
          <br>
          <button type="submit" class="change-pass-button-bump">schlaugh in</button>
          <br><br>
          <clicky id="lost-pass" onclick="switchPanel('lost-panel')">lost password?</clicky>
        </form>
        <br>
        <button class="text-button special meta-panel-button" onclick="backToLogInMenu();">back</button>
      </div>

  </div>

  <div id="about-section">
    schlaugh&nbspis&nbspa&nbspquiet&nbspplace for reading&nbspand&nbspwriting
    <br><br>
    schlaugh&nbsponly&nbspupdates once&nbspa&nbspday<br>
    so&nbspyou&nbsponly&nbspcheck&nbspit once&nbspa&nbspday
    <br><br>
    there&nbspis&nbspno&nbspliking, there&nbspis&nbspno&nbspcommenting, there&nbspis&nbspno&nbspnoise<br>
    there&nbspis&nbsponly reading&nbspand&nbspwriting
    <br><br>
    you&nbspmay&nbspmake one&nbsppost&nbspper&nbspday<br>
    there&nbspis&nbspno&nbsprush<br><br>
    <3
  </div>

  <div id="faq-section">
    <div class="post"><text class="post-title">FAQ</text>
      <div id="faq" class="reader-font"></div>
    </div>

    <h2><a href="/" class="special clicky" onclick="backToMain(event);">back</a></h2>
  </div>
</div>


<div id="o-panel" class="removed">
</div>

<div id="edit-panel" class="removed">

  <div id="old-post-preview">
    <br><br>
    <a class="special" id="edit-panel-title" class="author-size-0">back</a>
    <br><br>
    <div id="old-post-status"></div>
    <div id="pending-post-edit" class="removed"></div>

    <%- include("authorHeader", {kind: "edit"}) %>

    <button type="button" id='write-old-post-button' onclick="showWriter('old-post')">new edit</button>
    <button id='delete-pending-old-post'>delete edit</button>
  </div>

  <div id="old-post-writer" class="removed">
    <div id="old-post-editor-title"></div>
    <%- include("editorButtons", {kind: "old-post"}) %>
    <textarea id="old-post-editor" class="editor reader-font" autocomplete="off" autocapitalize="off" oninput="resizeEditor('old-post')" onkeydown="editorKeyHandler(event, 'old-post')"></textarea>
    <br><br>
    <wrapper id="old-post-editor-meta" class="editor-meta">
      <label for="old-tag-input">tags:<a href="javascript:void(0);" onclick="uiAlert(`please note that adding tags to an old post won't include the post in public searches of that tag, only in searches of posts written by you<br><br>removing tags will however remove this post from public searches for that tag`, `got it`)" class="special clicky">(?)</a></label>
      <input id="old-tag-input" class="editor-input" type="text" placeholder="milkshake,">
      <br>
      <label for="old-title-input">title:</label>
      <input id="old-title-input" class="editor-input" type="text" placeholder="optional">
      <br>
      <label for="old-url-input">url<a href="javascript:void(0);" onclick="customUrlExplain(true)" class="special clicky">(?)</a>:</label>
      <input id="old-url-input" class="editor-input" type="text" placeholder="optional">
    </wrapper>
    <br><br>
    <button id='submit-editing-old-post'>save post</button>
    <button id='cancel-edit-button'>cancel</button>
  </div>
</div>

<div id="lost-panel" class="removed">
  <h2>PASSWORD RESET EMAIL REQUEST</h2><br>
  <text>please don't do this unless you absolutely super have to. your private messages are locked with your password, and changing your password in this manner will mean that those messages will be permanently locked in encryption and unrecoverable forever<br><br>anyway, enter your username and the email associated with your account. It has to be the same email that you previously entered. And we can't tell you whether it's correct or not. If it's right, you'll get an email, if not, then no email will be sent. If you didn't enter an email for your account, or don't know what you entered, then you're out of luck. But try several addresses, if you're not sure which one you used.<br><br>the recovery link we send you expires one hour from sending<br>for additional assistance: schlaugh@protonmail.com</text>
  <br><br>
  <form action="javascript:void(0);">
    <text>username</text><br>
    <input type="text" id="username-lost"><br>
    <text>email</text><br>
    <input type="text" id="email-lost"><br>
    <button id="recovery-submit-button" type="submit" onclick="submitRecoveryRequest()">submit</button>
    <button id="recovery-reset-button" class="removed" onclick="resetRecoveryRequest()">reset</button>
  </form><br>
  <text id="lost-password-submission" class="hidden">if that username/email combination is valid, then an email has been sent<br>(you may need to check your spam folder)</text>
</div>

<div id="recovery-panel" class="removed">
  <h2>PASSWORD RESET</h2><br><br>
  <form action="javascript:void(0);" id="pass-reset-form">
    <div id="recovery-username-box">
      <text>username<a href="javascript:void(0);" onclick="uiAlert('this must match the account for which you had an email sent','got it')" class="special clicky">(?)</a></text><br>
      <input id="username-recovery" type="text" name="username" autocomplete="username"><br>
    </div>
    <div id="recovery-pass-box" class="removed">
      <text>new password(twice)</text><br>
      <input id="password-recovery0" type="password" autocomplete="new-password" name="new-password" style="display:none;">
      <input id="password-recovery1" type="password" autocomplete="new-password" name="new-password"><br>
      <input id="password-recovery2" type="password" autocomplete="new-password" name="new-password"><br>
      <icon id="eye3" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye3', ['password-recovery1', 'password-recovery2'])"></icon>
      <icon id="eye3c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye3', ['password-recovery1', 'password-recovery2'])"></icon>
    </div>
    <button id="submit-password-reset" type="submit" onclick="submitRecoveryName()">submit</button>
  </form>
  <div id="pass-reset-success" class="removed">
    <text>your password has been successfully reset<br><br><clicky onclick="switchPanel('meta-panel');simulatePageLoad();" class="special">please log in here</clicky></text>
    <br><br>
  </div>
  <br><br>
</div>

<div id="bad-recovery-panel" class="removed">
  <h2>invalid code</h2><br>
  perhaps it has expired?<br><br>
  <clicky onclick="switchPanel('lost-panel');simulatePageLoad();" class="special">try again?</clicky><br><br>
</div>

<div id="clicker-panel" class="removed">
  <h2 id="click-title">click</h2>

  <text class="clicker" id="click-count-preamble"></text>
  <text class="clicker" id="click-count"></text>

  <button class="clicker" onclick="clickClicker()" id="click-button">click</button>

  <text class="clicker removed" id="post-click">you have clicked<br>you may click again tomorrow</text>
  <text class="clicker" id="cant-click">you have already clicked today, you may click again tomorrow</text>
  <text class="clicker" id="must-sign-in">you must be <button onclick="passPromptSubmit()" class="special text-button">signed in</button> to click</text>
</div>

<div id="schlaunquer-panel" class="removed">
  <h2 id="schlaunquer-title">schlaunquer</h2>
  <wrapper id="schlaunquer-board-wrapper">
    <wrapper id="board-bucket"></wrapper>

    <wrapper id="schlaunquer-board-button-wrapper">
      <button id="schlaunquer-previous-day" class="schlaunquer-board-button removed" title="previous day [ a ]" onclick="changeBoardRound(-1)"><icon class="fas fa-play"></icon></button>
      <button id="schlaunquer-previous-step" class="schlaunquer-board-button removed" title="step backward [ s ]" onclick="changeBoardRound(0,false,-1)"><icon class="fas fa-step-backward"></icon></button>
      <button id="schlaunquer-next-step" class="schlaunquer-board-button removed" title="step forward [ d ]" onclick="changeBoardRound(0,false,1)"><icon class="fas fa-step-forward"></icon></button>
      <button id="schlaunquer-next-day" class="schlaunquer-board-button removed" title="next day [ f ]" onclick="changeBoardRound(1)"><icon class="fas fa-play"></icon></button>
    </wrapper>

    <button id="forfeit-button" class="hidden no-select">give up</button>
    <!--
    <icon id='game-rotate-button' onclick="rotateGrid()" class="clicky">↻</icon>
  -->
  </wrapper>
  <table id="schlaunquer-score-board" class="post-background"></table>
  <div id="schlaunquer-game-creation-menu" class="content-box removed">
    <form action="javascript:void(0);">
      <text class="post-title">match options:</text>
      <br><br>
      <text>how many players?: </text>
      <select id="schlaunquer-game-creation-players">
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option selected="selected">6</option>
      </select>
      <!--
      <br><br>
      <text>maximum number of units allowed on each tile<a href="javascript:void(0);" onclick="tilePopulationCapExplain()" class="special clicky">(?)</a>: </text>
      <input type="number" id="schlaunquer-game-creation-unitCap" class="game-move-input" min="0" step="1" value="12">
      <br><br>
      <text>number of units created by spawning<a href="javascript:void(0);" onclick="spawnValueExplain()" class="special clicky">(?)</a>: </text>
      <input type="number" id="schlaunquer-game-creation-spawnValue" class="game-move-input" min="0" step="1" value="6">
      <br><br>
      <text>enemy unit counts are hidden: </text>
      <select id="schlaunquer-game-creation-opaqueEnemyUnits">
        <option>false</option>
        <option>true</option>
      </select>
      -->
      <br><br>
      <text>after creating the schlaunquer match, it's up to you to distribute the link to whoever you'd like to play with. Anyone with the link will be able to join the game. If more people join than there are spots, then players will be chosen randomly from the pool of entrants</text>
      <br><br>
      <button onclick="gameCreationCall()" type="submit">initiate</button> &nbsp
      <button onclick="showGameCreationMenu(true);">nvmd</button>
    </form>
  </div>
  <div id="schlaunquer-game-info" class="content-box removed">
    <button id="schlaunquer-bookmark" onclick="bookmarkMatch()" class="schlaunquer-bookmark removed" title="bookmark"><icon class="far fa-bookmark"></icon></button>
    <button id="schlaunquer-unbookmark" onclick="bookmarkMatch(true)" class="schlaunquer-bookmark removed" title="un-bookmark"><icon class="fas fa-bookmark"></icon></button>
    <text class="game-listing">match is: </text><text id="game-status" class="game-listing"></text><br>
    <text class="game-listing">match link: </text><input id="schlaunquer-match-link"></input><br>
    <wrapper class="schlaunquer-game-info">
      <text>maximum number of units allowed on each tile<a href="javascript:void(0);" onclick="tilePopulationCapExplain()" class="special clicky">(?)</a>: </text><text id="schlaunquer-match-unitCap"></text>
    </wrapper>
    <wrapper class="schlaunquer-game-info">
      <text>number of units created by spawning<a href="javascript:void(0);" onclick="spawnValueExplain()" class="special clicky">(?)</a>: </text><text id="schlaunquer-match-spawnValue"></text>
    </wrapper>
    <wrapper class="schlaunquer-game-info">
      <text>enemy unit counts are hidden: </text><text id="schlaunquer-match-opaqueEnemyUnits"></text>
    </wrapper>
    <u class="game-listing">PARTICIPANTS:</u>
    <ol id="schlaunquer-game-player-list"></ol>
    <wrapper id="join-schlaunquer-game-info" class="removed">
      <br>
      <text>(participants are added at the schlaupdate. If more people apply than there are open spots in the match, then spots are filled by choosing randomly from the applicants that applied on that day)</text>
      <br><br>
      <text id="schlaunquer-application-pending">APPLICATION PENDING<br>you have successfully applied for this match. Check back tomorrow to see if you got in<br><br></text>
      <button id="join-schlaunquer-game" onclick="joinMatch()">join match</button>
      <button id="leave-schlaunquer-game" onclick="joinMatch(true)">leave match</button>
      <text id="sign-in-to-join">you must be signed in to schlaugh to join a match</text>
    </wrapper>
  </div>
  <div id="game-select" class="content-box">
    <wrapper id="start-new-schlaunquer-game" class="removed">
      <button onclick="showGameCreationMenu()">start new game</button><br>
    </wrapper>
    <text class="post-title">your games:</text>
    <text id="sign-in-to-schlaunquer" class="removed">(in order to schlaunquer, you must first <button onclick="passPromptSubmit()" class="special text-button">sign in</button> to schlaugh)</text>
    <div id="games-list" class="removed">
      <u class="game-listing">ACTIVE:</u>
      <ul id="active-game-list"></ul>
      <u class="game-listing">BOOKMARKED:</u>
      <ul id="bookmarked-game-list"></ul>
      <u class="game-listing">PENDING:</u>
      <ul id="pending-game-list"></ul>
      <u class="game-listing">FINISHED:</u>
      <ul id="finished-game-list"></ul>
    </div>
  </div>
  <div class="post"><text class="post-title">Exposition</text>
    <div id="schlaunquer-exposition" class="reader-font"></div>
  </div>

  <div id="tile-options" class="pop-up hidden">
    <form action="javascript:void(0);">
      <text id="tile-options-text">currently occupied by YOU<br><br>indicate below if/how you'd like any of this tile's units to move to an adjacent tile<br>(units will move at the schlaupdate, you have until then to schedule your move)</text><br><br>
      <div>
        <input type="number" id="q-move-input" onchange="moveInputChange(event,'q')" class="game-move-input" min="0" step="1" value="0">
        <input type="number" id="w-move-input" onchange="moveInputChange(event,'w')" class="game-move-input" min="0" step="1" value="0">
        <input type="number" id="e-move-input" onchange="moveInputChange(event,'e')" class="game-move-input" min="0" step="1" value="0">
      </div>
      <text id="tile-options-current-score"></text><br>
      <div>
        <input type="number" id="a-move-input" onchange="moveInputChange(event,'a')" class="game-move-input" min="0" step="1" value="0">
        <input type="number" id="s-move-input" onchange="moveInputChange(event,'s')" class="game-move-input" min="0" step="1" value="0">
        <input type="number" id="d-move-input" onchange="moveInputChange(event,'d')" class="game-move-input" min="0" step="1" value="0">
      </div><br>
      <button id="tile-options-submit" type="submit">do it</button> &nbsp
      <button onclick="closeTilePopUp();" id="tile-options-cancel">nvmd</button>
    </form>
  </div>
  <div id="tile-info" class="pop-up hidden">
    <form action="javascript:void(0);">
      <text id="tile-info-text"></text><br><br>
      <img id="tile-info-pic" src="">
      <button onclick="closeTilePopUp();" type="submit">i have seen enough</button>
    </form>
  </div>
  <div id="schlaunquer-victor" class="pop-up hidden">
    <form action="javascript:void(0);">
      <text id="schlaunquer-victor-text"></text><br><br>
      <img id="schlaunquer-victor-pic" class="removed" src="">
      <button onclick="closeVictory();" type="submit">wow</button>
    </form>
  </div>
</div>

<div id="following-list" class="post-background removed">
  <h2>following:</h2>
  <div id="following-bucket"></div>
  <br>
  <c>
    <button id="following-list-close" onclick="followingListDisplay(false)">x</button>
  </c>
</div>

<div id="text-options-pop-up" class="hidden post-background">
  <h2 class="options-pop-up-title">font options</h2>
  <div class="settings-box">
    <text>post font: </text>
    <select id="font-family-select" onchange="selectFont('font-family-select', 'font-family');">
    </select><br>
    <text>font size: </text>
    <select id="font-size-select" onchange="selectFont('font-size-select', 'font-size')">
      <option>8px</option>
      <option>10px</option>
      <option>12px</option>
      <option>14px</option>
      <option>16px</option>
      <option>18px</option>
      <option>20px</option>
      <option>24px</option>
      <option>30px</option>
    </select><br>
    <text>line spacing: </text>
    <select id="line-height-select" onchange="selectFont('line-height-select', 'line-height')">
      <option>.8</option>
      <option>1</option>
      <option>1.25</option>
      <option>1.5</option>
      <option>1.75</option>
      <option>2</option>
      <option>2.25</option>
    </select><br>
    <text>character spacing: </text>
    <select id="letter-spacing-select" onchange="selectFont('letter-spacing-select', 'letter-spacing')">
      <option>-1px</option>
      <option>0px</option>
      <option>1px</option>
      <option>2px</option>
      <option>3px</option>
    </select><br>
    <br>
    <text>max post width(px): </text>
    <input type="number" id="max-width-select" onchange="selectFont('max-width-select', 'max-width')" class="" min="0" max="2000" step="10" value="1000">
  </div>
  <button id="save-appearance2" type="button" class="removed" onclick="saveAppearance()">save</button>
  <button id="revert-appearance2" type="button" class="removed" onclick="revertAppearance()">revert</button>
  <button onclick="$('text-options-pop-up').classList.add('hidden'); $('text-options-open').focus();">close</button><br>
  <text id="sign-to-save2" class="removed">(sign in to save settings)</text>
</div>

<div id="color-options-pop-up" class="hidden post-background">
  <h2 class="options-pop-up-title">colors</h2>
  <div>
    <text>presets:</text>
    <select id="preset-select" onclick="themeSelect('preset-select');" onchange="themeSelect('preset-select');" name="color-presets">
      <option>custom</option>
    </select>
  </div>
  <div class="settings-box">
    post background: <input id="postBackground-color-button2" class="color-button jscolor {onFineChange:'selectColor(this, `postBackground`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
    text: <input id="text-color-button2" class="color-button jscolor {onFineChange:'selectColor(this, `text`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
    link text: <input id="linkText-color-button2" class="color-button jscolor {onFineChange:'selectColor(this, `linkText`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
    background: <input id="background-color-button2" class="color-button jscolor {onFineChange:'selectColor(this, `background`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
  </div>
  <button id="save-appearance3" type="button" class="removed" onclick="saveAppearance()">save</button>
  <button id="revert-appearance3" type="button" class="removed" onclick="revertAppearance()">revert</button>
  <button onclick="$('color-options-pop-up').classList.add('hidden'); $('color-options-open').focus();">close</button><br>
  <text id="sign-to-save3" class="removed">(sign in to save settings)</text>
</div>

<div id="pop-up-backing" class="hidden" onclick="blackBackingClickHandler()"></div>

<div id="link-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <div class="editor-pop-up-inner-box">
      <text>target url:</text>
      <input id="link-prompt-input1" placeholder="http://www.butts.cash/"><br>
      <text>link text:</text>
      <input id="link-prompt-input2" placeholder= "butts.cash">
    </div>
    <br>
    <button id="link-prompt-submit" type="submit">insert</button> &nbsp &nbsp
    <button id="link-prompt-exit" onclick="closePrompt($('link-prompt'))">x</button>
  </form>
</div>

<div id="img-input-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <div class="editor-pop-up-inner-box">
      <text>image url<a href="javascript:void(0);" onclick="imageUploadingExplain()" class="special clicky">(?)</a>: </text>
      <input id="img-input-prompt-input" value="https://i.imgur.com/hDEXSt7.jpg" placeholder="hiss"><br>
      <text>"title"(hover text): </text>
      <input id="img-input-prompt-input2" placeholder= "(optional)"><br>
      <text>alt text: </text>
      <input id="img-input-prompt-input3" placeholder= "(optional)">
    </div>
    <br>
    <button id="img-input-prompt-submit" type="submit">insert</button> &nbsp &nbsp
    <button id="img-input-prompt-exit" onclick="closePrompt($('img-input-prompt'))">x</button>
  </form>
</div>

<div id="quote-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <div class="editor-pop-up-inner-box">
      <text>quote text:</text>
      <input id="quote-prompt-input1" placeholder="nitwit blubber oddment tweak"><br>
      <text>"source text(optional): </text>
      <input id="quote-prompt-input2" placeholder= "dumbledore"><br>
      <text>source link(optional)</text>
      <input id="quote-prompt-input3" placeholder= "https://www.dumbledore.com">
    </div>
    <br>
    <button id="quote-prompt-submit" type="submit">insert</button> &nbsp &nbsp
    <button id="quote-prompt-exit" onclick="closePrompt($('quote-prompt'))">x</button>
  </form>
</div>

<div id="password-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="password-prompt-label"></text>
    <br><br>
    <input id="prompt-username" type="text" name="username" autocomplete="username" placeholder="username">
    <br>
    <input id="prompt-password" type="password" name="password" autocomplete=“current-password” placeholder="password">
    <br>
    <icon id="eye4" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye4', ['prompt-password'])"></icon>
    <icon id="eye4c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye4', ['prompt-password'])"></icon>
    <br>
    <button id="password-prompt-submit" type="submit">schlaugh in</button>
  </form>
  <div id="or-schlaugh-up" class="removed">
    <br>
    <a href="/" class="clicky special" onclick="orSchlaughUp(event)">or schlaugh up</a>
  </div>
  <br>
  <button id="password-prompt-close">x</button>
</div>

<div id="alert" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="alert-text"></text>
    <br><br>
    <button id="alert-submit" type="submit">'kay</button>
  </form>
</div>

<div id="confirm" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="confirm-text"></text>
    <br><br>
    <button id="confirm-yes">yeah</button> &nbsp
    <button id="confirm-no" type="submit">nope</button>
  </form>
</div>

<div id="how-long" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="how-long-text"></text><br><br>
    <text>⁘ ⁘ ⁘ ⁘ ⁘</text><br><br>
    <text>after how many schlaupdates would you like to be reminded of this again?</text><br>
    <input type="number" id="how-long-input" min="0" step="1" value="1"><br>
    <button id="how-long-submit" type="submit">that many</button>
  </form>
</div>

<div id="loading-box" class="hidden no-select">
  <div id="loading-icon" class="no-select">❋</div>
</div>
