<panelButtons id="panel-buttons" class="removed">
  <a href="/~write" id="write-panel-button" class="clicky panel-button" onclick="panelButtonClick(event,'write')"><!--
    --><icon class="fas fa-pencil-alt"></icon></a><!--
  --><a href="/" id="posts-panel-button" class="clicky panel-button" onclick="panelButtonClick(event,'posts')"><!--
    --><icon class="fas fa-book"></icon></a><!--
  --><a href="/~inbox" id="inbox-panel-button" class="clicky panel-button" onclick="panelButtonClick(event,'inbox')"><!--
    --><icon class="fas fa-envelope"></icon></a><!--
  --><a href="/~settings" id="settings-panel-button" class="clicky panel-button" onclick="panelButtonClick(event,'settings')"><!--
    --><icon class="fas fa-cog"></icon></a>
</panelButtons>

<div id="write-panel" class="removed">

  <div id="post-preview">
    <div id="pending-status">no pending post for tomorrow</div>
    <div id="pending-post" class="removed"></div>
    <button type="button" id='write-post-button' onclick="showPostWriter()">new post</button>
    <button id='delete-pending-post' class="removed" onclick="submitPost(true)">delete</button>
  </div>

  <div id="post-writer" class="removed">
    <%- include("editorButtons", {kind: "post"}) %>
    <textarea id="post-editor" class="editor reader-font" autocomplete="off" oninput="resizeEditor('post')" onkeydown="editorKeyHandler(event, 'post')"></textarea>
    <br><br>
    <div id="editor-post-meta">
      <label for="tag-input">tags:</label>
      <input id="tag-input" class="editor-input" type="text" placeholder="milkshake,"><br>
      <label for="title-input">title:</label>
      <input id="title-input" class="editor-input" type="text" placeholder="optional">
    </div>
    <br><br>
    <button onclick="submitPost()">schlaubmit</button>
    <button onclick="cancelPost()">cancel</button>
  </div>
</div>

<div id="posts-panel" class="removed">

  <%- include("authorHeader", {kind: "top"}) %>

  <%- include("pageAndDateNav", {kind: "top"}) %>

  <button id="expand-all-notes-button" class='removed' onclick="expandAllNotes(true)">expand all notes and cuts</button>
  <button id="collapse-all-notes-button" class='removed' onclick="expandAllNotes(false)">collapse all notes and cuts</button>

  <div id="date-and-tag-options" class="removed">
    <div id="tag-menu" class="removed">

      <div id="saved-tags-list" class="removed">
        <h2>saved tags:</h2>
        <text id="none-tags">(none)</text>
        <div id="tag-bucket"></div>
        <text class="monospace">include tagged posts in feed</text>
        <text id="include-tagged-posts-toggle" onclick="toggleTaggedPostsInclusion()"></text>
        <clicky onclick="uiAlert(`checking this box means that posts with tags you are tracking will show up in your main feed alongside posts of people you are following`, `aight`)" class="special"> (?)</clicky>
      </div>

      <form id="tag-search" action="javascript:void(0);">
        <input id="tag-picker" type="text" placeholder="milkshake">
        <br>
        <button type="submit" onclick="tagSearch()">search</button>
        <button id="save-tag-form" class="removed" onclick="saveTag()">save</button>
        <br>
        <button onclick="openTagMenu(true)">x</button>
      </form>
    </div>

    <div id="bryce-buttons">
      <button id="date-jump-open" onclick="openDateJump()">date</button>
      <button id="tag-menu-open" onclick="openTagMenu()">tags</button>
      <button id="all-days" onclick="allDaysButton()" class="removed">all days</button>
      <button id="clear-tag" onclick="clearTagButton()" class="removed">clear tag</button>
      <button id="save-tag" onclick="saveTag(false)" class="removed">save tag</button>
    </div>

    <form id="date-jump" class="removed" action="javascript:void(0);">
      <input id="date-picker" type="text" placeholder="date">
      <script type="text/javascript">
        $('date-picker').value = pool.getCurDate();
      </script>
      <br>
      <button type="submit" onclick="dateJump()">go</button>
      <button onclick="openDateJump(true)">x</button>
    </form>
  </div>

  <div id="post-bucket"></div>

  <%- include("authorHeader", {kind: "bot"}) %>

  <%- include("pageAndDateNav", {kind: "bot"}) %>

</div>

<div id="404-panel-author" class="removed">
  <text class="page-title-404 monospace">
    <br>but there was nobody home<br><br>
  </text>
</div>
<div id="404-panel-post" class="removed">
  <text class="page-title-404 monospace">
    <br>not even a single thing!<br><br>
  </text>
</div>
<div id="404-panel-existed" class="removed">
  <text class="page-title-404 monospace">
    once here<br>there was something<br><br>now here<br>there is nothing<br><br><i>time</i><br><br>
  </text>
</div>

<div id="inbox-panel" class="removed">
  <h2>meshages</h2>
  <div id="thread-title-area" class="removed">
    <icon id="back-arrow" class="removed clicky fas fa-caret-left" onclick="closeThread()"></icon>
    <br>
    <a id="thread-title"></a>
    <br>
    <text id='thread-status' class='removed'></text>
  </div>
  <button id="mark-unread" class="removed" onclick="markUnread()">mark unread</button>
  <button id="block-button" class="removed" onclick="block()">block</button>
  <div id="thread-list"></div>
  <br>
  <div id="message-preview" class="removed">
    <br>
    <p id="pending-message-status"></p>
    <div id="pending-message" class="message removed reader-font"></div>
    <button type="button" id='write-message-button' onclick="showWriter('message')"></button>
    <button id='delete-message' onclick="submitMessage(true)">delete</button>
  </div>
  <div id="message-writer" class="removed">
    <%- include("editorButtons", {kind: "message"}) %>
    <textarea id="message-editor" autocomplete="off" class="editor reader-font" oninput="resizeEditor('message')" onkeydown="editorKeyHandler(event, 'message')"></textarea>
    <br>
    <button onclick="submitMessage()">schend</button>
    <button onclick="cancelMessage()">cancel</button>
  </div>
  <br>
  <div id="thread-box"></div>
</div>

<div id="settings-panel" class="removed">
  <h2>schlettings</h2>
  <div id="settings-box">
    <br><br>user image:
    <img id="user-pic" class="removed user-pic" src="">
    <div id="no-user-pic"><br>(none)<br></div>
    <br>
    <form action="javascript:void(0);">
      <label for="pic-url">image url<clicky onclick="imageUploadingExplain()" class="special">(?)</clicky></label><br>
      <input id="pic-url" type="text" name="pic-url" value=""><br>
      <button type="submit" onclick="submitPic()">schlaubmit</button>
      <button id="remove-pic" class="removed" onclick="submitPic(true)">remove</button>
    </form>
    <br><br><br>
    <button onclick="followingListDisplay(true)">following list</button>
    <button onclick="displayBookmarks()">bookmarks</button>
    <br><br><br><hr><br>

    <text>change username</text><br>
    <form action="javascript:void(0);">
      <input id="change-username-input" type="text" placeholder="new name"><br>
      <button type="submit" onclick="changeUsername()">change</button>
    </form>
    <br><br><hr><br>
    <text>verify email<clicky onclick="verifyEmailExplain()" class="special">(?)</clicky></text><br>
    <form action="javascript:void(0);">
      <input id="email-verify-input" type="text" placeholder="email address"><br>
      <button type="submit" onclick="verifyEmail()">check</button>
    </form>
    <br><br><hr><br>
    <text>change password</text>
    <form action="javascript:void(0);">
      <input type="text" autocomplete="username" name="username" style="display:none;">
      <input id="password-change0" type="password" autocomplete="current-password" name="current-password" placeholder="current password"><br>
      <input id="password-change1" type="password" autocomplete="new-password" name="new-password" placeholder="new password"><br>
      <input id="password-change2" type="password" autocomplete="new-password" name="new-password" placeholder="new password"><br>
      <icon id="eye5" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye5', ['password-change0','password-change1','password-change2'])"></icon>
      <icon id="eye5c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye5', ['password-change0','password-change1','password-change2'])"></icon>
      <br>
      <button type="submit" class="change-pass-button-bump" onclick="changePassword()">change</button>
    </form>
    <br><br><br>
    <a class="clicky" onclick="signOut()">schlaugh out</a>
    <br><br><br>
  </div>
</div>

<div id="login-panel" class="removed">

  <slogan>have you schlaughed today?</slogan>

  <div id="inOrUp">
    <button onclick="chooseInOrUp(false)">schlaugh in</button>
    <h4>or</h4>
    <button onclick="chooseInOrUp(true)">schlaugh up</button>
  </div>

  <div id="up" class="removed">
    <icon class="no-select clicky arrow fas fa-caret-left" onclick="backToLogInMenu()"></icon>
    <br><br>
    <form action="javascript:void(0);">
      <input class="login-input" id="name-input" type="text" name="username" autocomplete="username" placeholder="name">
      <br>
      <input class="login-input" id="email-input" type="text" name="email" autocomplete="email" placeholder="(optional) email address">
      <br>
      <input class="login-input" id="pass-input" type="password" name="password" autocomplete="new-password" placeholder="password">
      <br>
      <input class="login-input" id="pass-input-two" type="password" name="password" autocomplete="new-password" placeholder="password">
      <!--
      <br>
      <input id="secret-code" type="password" name="secretCode" placeholder="secret code">
      -->
      <br>
      <icon><i onclick="optionalEmailExplain()" class="far fa-question-circle optional-email-splain clicky"></i></icon>
      <icon id="eye2" class="far fa-eye clicky eye-on-main" onclick="showPassword(true, 'eye2', ['pass-input', 'pass-input-two'])"></icon>
      <icon id="eye2c" class="far fa-eye-slash clicky removed eye-on-main" onclick="showPassword(false, 'eye2', ['pass-input', 'pass-input-two'])"></icon>
      <br>
      <button type="submit" class="change-pass-button-bump" onclick="logInPageSubmit('up')">schlaugh up</button>
    </form>
  </div>

  <div id="in" class="removed">
    <icon class="no-select clicky arrow fas fa-caret-left" onclick="backToLogInMenu()"></icon>
    <br><br>
    <form action="javascript:void(0);">
      <input class="login-input" id="in-name-input" type="text" name="username" autocomplete="username" placeholder="username">
      <br>
      <input class="login-input" id="in-pass-input" type="password" name="password" autocomplete=“current-password” placeholder="password">
      <br>
      <icon id="eye1" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye1', ['in-pass-input'])"></icon>
      <icon id="eye1c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye1', ['in-pass-input'])"></icon>
      <br>
      <button type="submit" class="change-pass-button-bump" onclick="logInPageSubmit('in')">schlaugh in</button>
      <br><br>
      <clicky id="lost-pass" onclick="switchPanel('lost-panel')">lost password?</clicky>
    </form>
  </div>
  <br><br><br>
  <h2 class="clicky special" onclick="switchPanel('~about-panel');simulatePageLoad('~', false);">schlaugh what?<h2>

</div>

<div id="~about-panel" class="removed">
  <div id="about-text"><br><br>
    schlaugh&nbspis&nbspa&nbspquiet&nbspplace for reading&nbspand&nbspwriting
    <br><br>
    schlaugh&nbsponly&nbspupdates once&nbspa&nbspday<br>
    so&nbspyou&nbsponly&nbspcheck&nbspit once&nbspa&nbspday
    <br><br>
    there&nbspis&nbspno&nbspliking, there&nbspis&nbspno&nbspcommenting, there&nbspis&nbspno&nbspnoise<br>
    there&nbspis&nbsponly reading&nbspand&nbspwriting
    <br><br>
    you&nbspmay&nbspmake one&nbsppost&nbspper&nbspday<br>
    there&nbspis&nbspno&nbsprush<br><br>
    <3
  </div>
  <br>
  <h2 class="clicky special" onclick="openFAQ();">faq</h2>
  <br>
  <a href="/" class="clicky" onclick="backToMain(event);">
    <h2>back</h2>
  </a>
</div>

<div id="~faq-panel" class="removed">
  <h2>faq</h2>
  <div id="faq-bucket"></div>
  <a href="/" class="clicky" onclick="backToMain(event);">
    <h2>back</h2>
  </a>
</div>

<div id="o-panel" class="removed">
  <img id="o-pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Oscar_Wilde_3g07095u-adjust.jpg/220px-Oscar_Wilde_3g07095u-adjust.jpg" alt="Oscar Wilde">
</div>

<div id="edit-panel" class="removed">

  <div id="old-post-preview">
    <br><br>
    <a class="special" id="edit-panel-title" class="author-size-0">back</a>
    <br><br>
    <div id="old-post-status"></div>
    <div id="pending-post-edit" class="removed"></div>

    <%- include("authorHeader", {kind: "edit"}) %>

    <button type="button" id='edit-post-button' onclick="showWriter('old-post')">new edit</button>
    <button id='delete-pending-old-post'>delete edit</button>
  </div>

  <div id="old-post-writer" class="removed">
    <div id="old-post-editor-title"></div>
    <%- include("editorButtons", {kind: "old-post"}) %>
    <textarea id="old-post-editor" class="editor reader-font" autocomplete="off" oninput="resizeEditor('old-post')" onkeydown="editorKeyHandler(event, 'old-post')"></textarea>
    <br>
    <div id="old-tag-box">
      <label for="old-tag-input">tags:<clicky onclick="uiAlert(`please note that adding tags to an old post won't include the post in public searches of that tag, only in searches of posts written by you<br><br>removing tags will however remove this post from public searches for that tag`, `got it`)" class="special">(?)</clicky></label>
      <input id="old-tag-input" class="editor-input" type="text" placeholder="milkshake,">
      <br>
      <label for="old-title-input">title:</label>
      <input id="old-title-input" class="editor-input" type="text" placeholder="optional">
      <br><br>
    </div>
    <button id='submit-editing-old-post'>schlaubmit</button>
    <button id='cancel-edit-button'>cancel</button>
  </div>
</div>

<div id="lost-panel" class="removed">
  <h2>PASSWORD RESET EMAIL REQUEST</h2><br>
  <text>please don't do this unless you absolutely super have to. your private messages are locked with your password, and changing your password in this manner will mean that those messages will be permanently locked in encryption and unrecoverable forever<br><br>anyway, enter your username and the email associated with your account. It has to be the same email that you previously entered. And we can't tell you whether it's correct or not. If it's right, you'll get an email, if not, then no email will be sent. If you didn't enter an email for your account, or don't know what you entered, then you're out of luck. But try several addresses, if you're not sure which one you used.<br><br>the recovery link we send you expires one hour from sending<br>for additional assistance: schlaugh@protonmail.com</text>
  <br><br>
  <form action="javascript:void(0);">
    <text>username</text><br>
    <input type="text" id="username-lost"><br>
    <text>email</text><br>
    <input type="text" id="email-lost"><br>
    <button id="recovery-submit-button" type="submit" onclick="submitRecoveryRequest()">submit</button>
    <button id="recovery-reset-button" class="removed" onclick="resetRecoveryRequest()">reset</button>
  </form><br>
  <text id="lost-password-submission" class="hidden">if that username/email combination is valid, then an email has been sent<br>(you may need to check your spam folder)</text>
</div>

<div id="recovery-panel" class="removed">
  <h2>PASSWORD RESET</h2><br><br>
  <form action="javascript:void(0);" id="pass-reset-form">
    <div id="recovery-username-box">
      <text>username<clicky onclick="uiAlert('this must match the account for which you had an email sent','got it')" class="special">(?)</clicky></text><br>
      <input id="username-recovery" type="text" name="username" autocomplete="username"><br>
    </div>
    <div id="recovery-pass-box" class="removed">
      <text>new password(twice)</text><br>
      <input id="password-recovery0" type="password" autocomplete="new-password" name="new-password" style="display:none;">
      <input id="password-recovery1" type="password" autocomplete="new-password" name="new-password"><br>
      <input id="password-recovery2" type="password" autocomplete="new-password" name="new-password"><br>
      <icon id="eye3" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye3', ['password-recovery1', 'password-recovery2'])"></icon>
      <icon id="eye3c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye3', ['password-recovery1', 'password-recovery2'])"></icon>
    </div>
    <button id="submit-password-reset" type="submit" onclick="submitRecoveryName()">submit</button>
  </form>
  <div id="pass-reset-success" class="removed">
    <text>your password has been successfully reset<br><br><clicky onclick="switchPanel('login-panel');simulatePageLoad();" class="special">please log in here</clicky></text>
    <br><br>
  </div>
  <br><br>
</div>

<div id="bad-recovery-panel" class="removed">
  <h2>invalid code</h2><br>
  perhaps it has expired?<br><br>
  <clicky onclick="switchPanel('lost-panel');simulatePageLoad();" class="special">try again?</clicky><br><br>
</div>

<div id="clicker-panel" class="removed">
  <h2 id="click-title">click</h2>

  <text class="clicker" id="click-count-preamble"></text>
  <text class="clicker" id="click-count"></text>

  <button class="clicker" onclick="clickClicker()" id="click-button">click</button>

  <text class="clicker removed" id="post-click">you have clicked<br>you may click again tomorrow</text>
  <text class="clicker" id="cant-click">you have already clicked today, you may click again tomorrow</text>
  <text class="clicker" id="must-sign-in">you must be <a onclick="passPromptSubmit()" class="clicky">signed in</a> to click</text>
</div>

<div id="display-button-box">
  <icon onclick="$('text-options-pop-up').classList.remove('hidden')" class="clicky fas fa-font"></icon>
  <icon onclick="$('color-options-pop-up').classList.remove('hidden')" class="clicky fas fa-palette"></icon>
</div>

<div id="text-options-pop-up" class="hidden post-background">
  <h2 class="options-pop-up-title">font options</h2>
  <div class="settings-box">
    <text>post font: </text>
    <select id="font-family-select2" onchange="selectFont('font-family-select2', 'font-family');">
    </select><br>
    <text>font size: </text>
    <select id="font-size-select2" onchange="selectFont('font-size-select2', 'font-size')">
      <option>8px</option>
      <option>10px</option>
      <option>12px</option>
      <option>14px</option>
      <option>16px</option>
      <option>18px</option>
      <option>20px</option>
      <option>24px</option>
      <option>30px</option>
    </select><br>
    <text>line spacing: </text>
    <select id="line-height-select2" onchange="selectFont('line-height-select2', 'line-height')">
      <option>.8</option>
      <option>1</option>
      <option>1.25</option>
      <option>1.5</option>
      <option>1.75</option>
      <option>2</option>
      <option>2.25</option>
    </select><br>
    <text>character spacing: </text>
    <select id="letter-spacing-select2" onchange="selectFont('letter-spacing-select2', 'letter-spacing')">
      <option>-1px</option>
      <option>0px</option>
      <option>1px</option>
      <option>2px</option>
      <option>3px</option>
    </select>
  </div>
  <button id="save-appearance2" type="button" class="removed" onclick="saveAppearance()">save</button>
  <button id="revert-appearance2" type="button" class="removed" onclick="revertAppearance()">revert</button>
  <button onclick="$('text-options-pop-up').classList.add('hidden')">close</button><br>
  <text id="sign-to-save2" class="removed">(sign in to save settings)</text>
</div>

<div id="color-options-pop-up" class="hidden post-background">
  <h2 class="options-pop-up-title">colors</h2>
  <div>
    <text>presets:</text>
    <select id="preset-select2" onclick="themeSelect('preset-select2');" onchange="themeSelect('preset-select2');" name="color-presets">
      <option>custom</option>
    </select>
  </div>
  <div class="settings-box">
    post background: <input id="postBackground-color-button2" class="color-button jscolor {onFineChange:'selectColor(this, `postBackground`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
    text: <input id="text-color-button2" class="color-button jscolor {onFineChange:'selectColor(this, `text`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
    link text: <input id="linkText-color-button2" class="color-button jscolor {onFineChange:'selectColor(this, `linkText`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
    background: <input id="background-color-button2" class="color-button jscolor {onFineChange:'selectColor(this, `background`)', padding:0,  borderWidth:0, backgroundColor:'transparent'}"><br>
  </div>
  <button id="save-appearance3" type="button" class="removed" onclick="saveAppearance()">save</button>
  <button id="revert-appearance3" type="button" class="removed" onclick="revertAppearance()">revert</button>
  <button onclick="$('color-options-pop-up').classList.add('hidden')">close</button><br>
  <text id="sign-to-save3" class="removed">(sign in to save settings)</text>
</div>

<div id="pop-up-backing" class="hidden" onclick="blackBackingClickHandler()"></div>
<div id="prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="prompt-label"></text>
    <br><br>
    <input id="prompt-input">
    <br><br>
    <button id="prompt-submit" type="submit">submit</button> &nbsp &nbsp
    <button id="prompt-close">x</button>
  </form>
</div>

<div id="link-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <div class="editor-pop-up-inner-box">
      <text>target url:</text>
      <input id="link-prompt-input1" placeholder="http://www.butts.cash/"><br>
      <text>link text:</text>
      <input id="link-prompt-input2" placeholder= "butts.cash">
    </div>
    <br>
    <button id="link-prompt-submit" type="submit">submit</button> &nbsp &nbsp
    <button onclick="closePrompt($('link-prompt'))">x</button>
  </form>
</div>

<div id="img-input-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <div class="editor-pop-up-inner-box">
      <text>image url<clicky onclick="imageUploadingExplain()" class="special">(?)</clicky>: </text>
      <input id="img-input-prompt-input" value="https://i.imgur.com/hDEXSt7.jpg" placeholder="hiss"><br>
      <text>"title"(hover text): </text>
      <input id="img-input-prompt-input2" placeholder= "(optional)"><br>
      <text>alt text: </text>
      <input id="img-input-prompt-input3" placeholder= "(optional)">
    </div>
    <br>
    <button id="img-input-prompt-submit" type="submit">submit</button> &nbsp &nbsp
    <button onclick="closePrompt($('img-input-prompt'))">x</button>
  </form>
</div>

<div id="quote-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <div class="editor-pop-up-inner-box">
      <text>quote text:</text>
      <input id="quote-prompt-input1" placeholder="nitwit blubber oddment tweak"><br>
      <text>"source text(optional): </text>
      <input id="quote-prompt-input2" placeholder= "dumbledore"><br>
      <text>source link(optional)</text>
      <input id="quote-prompt-input3" placeholder= "https://www.dumbledore.com">
    </div>
    <br>
    <button id="quote-prompt-submit" type="submit">submit</button> &nbsp &nbsp
    <button onclick="closePrompt($('quote-prompt'))">x</button>
  </form>
</div>

<div id="password-prompt" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="password-prompt-label"></text>
    <br><br>
    <input id="prompt-username" type="text" name="username" autocomplete="username" placeholder="username">
    <br>
    <input id="prompt-password" type="password" name="password" autocomplete=“current-password” placeholder="password">
    <br>
    <icon id="eye4" class="far fa-eye clicky eye" onclick="showPassword(true, 'eye4', ['prompt-password'])"></icon>
    <icon id="eye4c" class="far fa-eye-slash clicky removed eye" onclick="showPassword(false, 'eye4', ['prompt-password'])"></icon>
    <br>
    <button id="password-prompt-submit" type="submit">submit</button>
  </form>
  <div id="or-schlaugh-up" class="removed">
    <br>
    <a href="/" class="clicky" onclick="orSchlaughUp(event)">or schlaugh up</a>
  </div>
  <br>
  <button id="password-prompt-close">x</button>
</div>
<div id="alert" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="alert-text"></text>
    <br><br>
    <button id="alert-submit" type="submit">'kay</button>
  </form>
</div>
<div id="confirm" class="pop-up hidden">
  <form action="javascript:void(0);">
    <text id="confirm-text"></text>
    <br><br>
    <button id="confirm-yes">yeah</button> &nbsp
    <button id="confirm-no" type="submit">nope</button>
  </form>
</div>

<div id="following-list" class="pop-up hidden">
  <h2>following:</h2>
  <div id="following-bucket">
  </div>
  <br>
  <button onclick="followingListDisplay(false)">x</button>
</div>

<div id="loading-box" class="hidden no-select">
  <div id="loading-icon" class="no-select">❋</div>
</div>
