<pageAndDateNav id="<%- kind %>-page-and-date-nav">
  <div id="<%- kind %>-tag-display" class="removed"></div>
  <button id="author-clear-filter-<%- kind %>" onclick="clearAuthorTagButton()" class="removed">clear tag</button>
  <div id="<%- kind %>-date-box" class="no-select removed">

    <a href="javascript:void(0);" id="<%- kind %>-left-date-arrow" class="clicky filter-focus" title="previous day" onclick="moveDateByOneDay(-1)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="height: 1em; vertical-align: -.19em;">
        <g transform="scale(0.1,0.1)" fill="currentColor">
          <path d="M497 691 c-214 -103 -389 -191 -389 -196 0 -7 773 -385 788 -385 15
          0 -12 40 -137 199 -78 99 -141 182 -141 186 0 4 63 87 141 186 131 166 153
          200 134 198 -5 0 -183 -85 -396 -188z"/>
        </g>
      </svg>
    </a>
    
    <text id="<%- kind %>-date-display" class="date-display"></text>
    
    <a href="javascript:void(0);" id="<%- kind %>-right-date-arrow" class="clicky filter-focus" title="next day" onclick="moveDateByOneDay(1)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="height: 1em; vertical-align: -.19em;">
        <g transform="translate(100,0) scale(-0.1,0.1)" fill="currentColor">
          <path d="M497 691 c-214 -103 -389 -191 -389 -196 0 -7 773 -385 788 -385 15
          0 -12 40 -137 199 -78 99 -141 182 -141 186 0 4 63 87 141 186 131 166 153
          200 134 198 -5 0 -183 -85 -396 -188z"/>
        </g>
      </svg>
    </a>
  </div>

  <div id="<%- kind %>-page-box" class="removed">
    <a href="javascript:void(0);" id="<%- kind %>-left-page-arrow" class="clicky filter-focus" title="previous page" onclick="pageTurn(-1)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="height: 1em; vertical-align: -.19em;">
        <g transform="scale(0.1,0.1)" fill="currentColor">
          <path d="M497 691 c-214 -103 -389 -191 -389 -196 0 -7 773 -385 788 -385 15
          0 -12 40 -137 199 -78 99 -141 182 -141 186 0 4 63 87 141 186 131 166 153
          200 134 198 -5 0 -183 -85 -396 -188z"/>
        </g>
      </svg>
    </a>
    <text class="monospace">page</text>
    <a href="javascript:void(0);" id="<%- kind %>-right-page-arrow" class="clicky filter-focus" title="next page" onclick="pageTurn(1)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="height: 1em; vertical-align: -.19em;">
        <g transform="translate(100,0) scale(-0.1,0.1)" fill="currentColor">
          <path d="M497 691 c-214 -103 -389 -191 -389 -196 0 -7 773 -385 788 -385 15
          0 -12 40 -137 199 -78 99 -141 182 -141 186 0 4 63 87 141 186 131 166 153
          200 134 198 -5 0 -183 -85 -396 -188z"/>
        </g>
      </svg>
    </a>

    <form action="javascript:void(0);" id="<%- kind %>-page-info">
      <input class="monospace post-background page-number-left" id="<%- kind %>-page-number-left-input" onclick="$('<%- kind %>-page-jump').classList.remove('hidden');" onmousedown="$('<%- kind %>-page-jump').classList.remove('hidden');">
      <text class="monospace" id="<%- kind %>-page-number-left-text">7</text>
      <text class="monospace">of</text>
      <text class="monospace" id="<%- kind %>-page-number-right">7</text>
      <br><button class="hidden" id="<%- kind %>-page-jump" type="submit" onclick="pageJump(null, '<%- kind %>')">jump</button>
    </form>
  </div>
</pageAndDateNav>
