<h2> <a href="/<%= authorName %>"><%= authorName %></a> </h2>
<% if ( authorPic !== "") { %>
  <img id="author-pic" src= <%= authorPic %> >
<% } else { %>
  <img id="author-pic" class="removed" src="">
<% } %>

<div class="post">
  <% if (date) { %>
    <div class="meta-text">
      <%= date %>
    </div>
  <% } %>
  <text class="body-text">
    <%- body %>
  </text>
</div>
